@font-face {
  font-family: "NeoSansCyr";
  src: url("../fonts/NeoSansCyr/NeoSansCyr-Regular.ttf") format("truetype");
  /* IE9 Compat Modes */
  src: url("../fonts/NeoSansCyr/NeoSansCyr-Regular.otf") format("opentype"),
       url("../fonts/NeoSansCyr/NeoSansCyr-Regular.woff2") format("woff2"), 
       url("../fonts/NeoSansCyr/NeoSansCyr-Regular.woff") format("woff"), 
       url("../fonts/NeoSansCyr/NeoSansCyr-Regular.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeoSansPro";
  src: url("../fonts/NeoSansPro/NeoSansProMedium.ttf") format("truetype");
  /* IE9 Compat Modes */
  src: url("../fonts/NeoSansPro/NeoSansProMedium.otf") format("opentype"),
       url("../fonts/NeoSansPro/NeoSansProMedium.woff2") format("woff2"), 
       url("../fonts/NeoSansPro/NeoSansProMedium.woff") format("woff"), 
       url("../fonts/NeoSansPro/NeoSansProMedium.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
