//colors
$white: #fff;
$black: #000;
$marsh: rgba(24, 59, 86, 0.85);
$p-color: #3c4858;
$dark-blue: #183b56;
$circle-color: #afcbdd;
$shadow: rgba(180, 202, 219, 0.42);
$green: #23c700;
$green-wave: #60c316;

$tube-color: #d1effd;
$tube-inner: #b4cadb;
$tube-gradient-from: #005bca;
$tube-gradient-to: #00acff;
$tube-top: #005bcb;
$tube-line: #c9ebfd;
$pink: #ff475b;

//fonts
$nsc: "NeoSansCyr";
$nsp: "NeoSansPro";

//font-size
$f40: 4rem;
$f36: 3.6rem;
$f30: 3rem;
$f26: 2.6rem;
$f23: 2.3rem;
$f20: 2rem;
$f17: 1.7rem;
$f16: 1.6rem;
$f14: 1.4rem;
$f13: 1.3rem;
$f12: 1.2rem;
$f10: 1rem;
$f9: .9rem;
