@keyframes moveleft {
    0% {
      left: -1rem;
    }
    100% {
      left: -7.6rem;
    }
  }
  @-webkit-keyframes moveleft {
    0% {
      left: -1rem;
    }
    100% {
      left: -7.6rem;
    }
  }
  
  @keyframes moveup {
    0% {
      top: 100%;
    }
    100% {
      top: -0.5rem;
    }
  }
  @-webkit-keyframes moveup {
    0% {
      top: 100%;
    }
    100% {
      top: -0.5rem;
    }
  }
  
  @keyframes moveup1 {
    0% {
      top: 50%;
    }
    100% {
      top: -0.5rem;
    }
  }
  
  @keyframes boat {
    50% {
      transform: rotate(-2deg) translateY(-3px);
    }
  }
  @keyframes boat-rotate {
    50% {
      transform: rotate(-2deg) translateY(5px) translateX(-2px);
    }
  }
  @keyframes boat-reverse {
    50% {
      transform: rotate(2deg) translateY(10px) translateX(2px);
    }
  }
  
  